/* @import url('https://fonts.googleapis.com/css?family=Dosis:200,400');
*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,400');
/* {
    outline: 1px solid pink;
}*/

body {
    /*font-family: 'Dosis', sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background: linear-gradient(to top right, white, #f3f3f3);
}

.link-muted, .link-muted:link, .link-muted:hover, .link-muted:visited {
    color: #ccc7c7;
    cursor: pointer;
    text-decoration: none;
}

.text-extra-light {
    font-weight:100;
}

.title-style {
    font-size: 3.5em;
    color: #6f6868;
}

.subtitle-style {
    color: #636161;
}

.featured-style {
    margin-bottom: 15px;
    margin-left: 10px;
    color: #b5b3b3;
    font-size: 2.5em;
}

.hr-style {
    border-width: 2px;
    border-color: #dedcdc;
}

.img-shadow {
    box-shadow: 1px 2px 7px 1px lightgrey;
}

.logo-style {
    margin-top: 15px;
}

.box-style {
    margin-bottom: 20px;
}

.text-greyish {
    color: #777;
}

.img-clickable {
    cursor: pointer;
}

.img-clickable:hover {
    /*-ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);*/
    box-shadow: 1px 2px 15px 1px lightgrey;
}

.img-animate:hover {
    animation: flip 1s;
}
