.section {
  background-color: white;
  padding: 0 var(--padding-sides);
}
.container {
  margin: 0 auto;
  max-width: 686px;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 83px;
  gap: 16px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
}

.field {
  color: #3a3a3a;
  height: 46px;
  font-size: 20px;
  padding: 11px;
  font-family: unset;
  border: solid 2px var(--grey-color-one);
  border-radius: 3px;
  outline: unset;
}

.field:focus {
  outline: solid 3px var(--miku-color-two);
  outline-offset: 3px;
}

.names {
  display: flex;
  gap: 20px;
}

.nameField {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.messageField {
  min-height: 173px;
  resize: none;
}

.invalid {
  color: var(--red-color-three);
  border-color: var(--red-color-three);
}

.invalid::selection {
  background-color: var(--red-color-three);
}

.invalid:focus {
  outline-color: var(--red-color-three);
}

.errorMessage {
  color: var(--red-color-three);
  margin-top: 8px;
  margin-left: 3px;
}

.tip {
  position: relative;
  bottom: 50px;
  font-size: 15px;
  text-align: center;
  align-self: center;
  padding: 15px;
  color: #313233;
  background-color: #edf9fa;
  border-radius: 8px;
}

.tip > a {
  color: var(--miku-color-four);
}

@media (max-width: 555px) {
  .names {
    flex-direction: column;
  }

  .nameField {
    min-width: unset;
  }
}
