.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--dark-background);
  padding: 0 var(--padding-sides);
}

.text {
  color: white;
  text-align: center;
  font-size: 64px;
}

.highlight {
  color: var(--miku-color-two);
}

.cta {
  position: absolute;
  bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: var(--miku-color-three);
  stroke: var(--miku-color-three);
}

@media (max-width: 753px) {
  .text {
    font-size: 32px;
  }

  .cta {
    font-size: 15px;
  }

  .chevron {
    width: 53px;
    height: 19px;
  }
}

@media (max-width: 412px) {
  .text {
    font-size: 26px;
  }
}

@media (max-height: 397px) {
  .text {
    font-size: 26px;
  }
  .cta {
    font-size: 15px;
  }

  .chevron {
    width: 53px;
    height: 19px;
  }
}
