.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--dark-background);
}

.text {
  color: white;
  text-align: center;
  font-size: 64px;
}

.highlight {
  color: var(--miku-color-two);
}

.cta {
  position: absolute;
  bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--miku-color-three);
  stroke: var(--miku-color-three);
}
