.section {
  background-color: white;
  padding: 0 var(--padding-sides);
}

.container {
  margin: 0 auto;
  /*max-width: 1156px;*/
  max-width: 1392px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 129px;
}

.skill {
  width: 215px;
  height: 208px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--grey-color-one) 2px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 32px;
  background: linear-gradient(
    90deg,
    var(--miku-color-two) 10%,
    var(--miku-color-four) 84%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 150ms ease-in;
}

.skill:hover {
  border-width: 3px;
  border-color: var(--miku-color-two);
  box-shadow: 0px 0px 2px black;
}

.skills ::selection {
  -webkit-text-fill-color: white;
}

@media ((max-width: 753px) or (max-height: 397px)) {
  .skill {
    width: 222px;
    height: 60px;
    font-size: 24px;
  }

  .skills {
    margin-bottom: 80px;
  }
}
