* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark-background: #36353d;
  --padding-top: 22px;
  --padding-bottom: 17px;
  --padding-sides: 28px;

  --miku-color-one: #75e3d1;
  --miku-color-two: #43a0b1;
  --miku-color-three: #46bfcc;
  --miku-color-four: #2d858d;

  --grey-color-one: #d2d2d2;
  --grey-color-two: #636363;
  --grey-color-three: #f5f5f5;

  --black-color-one: #2d2d2d;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--miku-color-two);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--miku-color-three);
}
