.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  row-gap: 88px;
  margin: 108px 38px 200px;
  justify-content: center;
}

.projects > * {
  max-width: 382px;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  margin: 68px auto 0;
  max-width: 724px;
  padding: 0 38px;
}

.mikuSelect {
  margin-top: 37px;
  align-self: center;
}
